nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10%;
    ul{
        display: flex;
        list-style: none;
    }
    li{
        margin: 0 8px;
    }
    a{
        text-decoration: none;
        color: $primaryColor;
        padding: 8px 15px;
    }
}

