* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.wrapper-class {
  padding: 0 10%;
}

.mid-padding {
  padding: 50px 0;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background-color: #111;
  right: 30px;
  bottom: 20px;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  border-radius: 5px;
  z-index: 1;
  transition: all 0.3s ease;
}
.scroll-up-btn a {
  text-decoration: none;
  color: #fff;
}

header {
  width: 100%;
  height: 70px;
  background-color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 10%;
}
nav ul {
  display: flex;
  list-style: none;
  padding-right: 15%;
}
nav li {
  margin: 0 8px;
}
nav a {
  text-decoration: none;
  color: #111;
  padding: 8px 10px;
}
nav .menu-btn i {
  font-size: 20px;
  display: none;
  cursor: pointer;
}
nav input[type=checkbox] {
  display: none;
}

.asko-main-banner img {
  max-width: 100%;
  height: auto;
}

.asko-about-us {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.asko-about-us-columns {
  display: flex;
  align-items: center;
  gap: 50px;
}

.asko-about-us-left-column {
  width: 100%;
}
.asko-about-us-left-column p {
  padding: 20px 0;
  text-align: start;
}

.asko-download-link-box {
  width: 700px;
  margin-top: 40px;
  padding: 30px 30px;
  background-color: #e8e8e8;
  border-radius: 5px;
}
.asko-download-link-box p {
  padding: 10px 0;
}

.asko-download-link {
  display: flex;
  padding-top: 10px;
  align-items: center;
  gap: 5px;
}
.asko-download-link img {
  max-width: 100%;
}

.asko-temperature-precise-cooking {
  position: relative;
}

.asko-temperature-precise-cooking-image img {
  max-width: 100%;
  height: auto;
  position: relative;
}
.asko-temperature-precise-cooking-image p {
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: 50%;
  left: 60%;
  text-align: center;
}

.asko-temperature-precise-cooking-about {
  background-color: #e8e8e8;
}

.asko-temperature-precise-cooking-about-content {
  display: flex;
}
.asko-temperature-precise-cooking-about-content h2 {
  flex: 1;
}
.asko-temperature-precise-cooking-about-content p {
  flex: 4;
  margin-right: 15%;
}

.asko-guided-recipes {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}

.asko-guided-recipes-image img {
  object-fit: cover;
}
.asko-guided-recipes-image p {
  position: absolute;
  top: 70%;
  left: 30%;
  width: 17%;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.asko-guided-recipes-content .browse-recipes-btn {
  margin-top: 20px;
}
.asko-guided-recipes-content p {
  padding: 20px 0;
  width: 80%;
}
.asko-guided-recipes-content .btn {
  border: 2px solid #111;
  background-color: #111;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}

.asko-premium-induction {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #e8e8e8;
}

.asko-premium-induction-content {
  padding-left: 10%;
}
.asko-premium-induction-content p {
  padding: 20px 0;
  width: 80%;
}

.asko-premium-induction-image img {
  position: relative;
  object-fit: cover;
}
.asko-premium-induction-image p {
  position: absolute;
  top: 40%;
  right: 25%;
  width: 18%;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.asko-technology-content {
  margin-top: 50px;
}
.asko-technology-content p {
  padding-top: 25px;
  width: 65vw;
}
.asko-technology-content img {
  max-width: 100%;
  margin-left: 15%;
  object-fit: cover;
}

.asko-technology-image {
  background-color: #e8e8e8;
}
.asko-technology-image img {
  max-width: 100%;
  object-fit: cover;
  padding-top: 5%;
}

.asko-celsius-cooking-image {
  display: block;
  position: relative;
  height: 700px;
}
.asko-celsius-cooking-image .image1 {
  position: absolute;
  max-width: 510px;
  height: 300px;
  top: 10px;
  left: 0px;
}
.asko-celsius-cooking-image .image2 {
  position: absolute;
  max-width: 510px;
  height: 300px;
  top: 320px;
  left: 0px;
}
.asko-celsius-cooking-image .image3 {
  position: absolute;
  max-width: 550px;
  height: 610px;
  top: 10px;
  left: 520px;
}

.asko-start-celsius-cooking p {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  padding: 30px 0;
}
.asko-start-celsius-cooking img {
  max-width: 100%;
  margin-left: 25px;
  padding-bottom: 30px;
}

footer .asko-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer p {
  padding: 20px 0;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #111;
}

@media only screen and (max-width: 1200px) {
  .asko-images-gallery {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .asko-temperature-precise-cooking-image p {
    top: 0px;
    left: 25%;
  }
  .asko-about-us-columns {
    width: 90%;
  }
  .asko-guided-recipes img {
    width: 50vw;
  }
  .asko-premium-induction img {
    width: 50vw;
  }
}
@media only screen and (max-width: 900px) {
  .asko-about-us-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1;
  }
  nav .menu-btn i {
    display: block;
    font-size: 30px;
  }
  nav ul {
    position: fixed;
    top: 70px;
    left: -100%;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    padding-left: 10%;
    display: block;
    transition: all 0.3s ease;
  }
  nav li {
    width: 100%;
    margin: 40px 0px;
  }
  nav a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s;
  }
  nav #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav #click:checked ~ ul {
    left: 0px;
  }
  nav #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav .SE {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .asko-guided-recipes {
    display: block;
  }
  .asko-guided-recipes .asko-guided-recipes-image img {
    width: 100vw;
  }
  .asko-guided-recipes .asko-guided-recipes-image p {
    top: 0px;
    left: 30%;
    width: 40%;
    color: #111;
  }
  .asko-guided-recipes .asko-guided-recipes-content {
    margin: 10%;
  }
  .asko-premium-induction {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .asko-premium-induction .asko-premium-induction-image {
    padding-bottom: 40px;
  }
  .asko-premium-induction .asko-premium-induction-image img {
    width: 100vw;
  }
  .asko-premium-induction .asko-premium-induction-image p {
    top: 0px;
    left: 30%;
    width: 40%;
  }
  .asko-technology-content p {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
