.asko-guided-recipes{
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}
.asko-guided-recipes-image{
    
    img{
        object-fit: cover;
    }
    p{
        position: absolute;
        top: 70%;
        left: 30%;
        width: 17%;
        text-align: center;
        color: $secondaryColor;
        font-size: 20px;
    }
}

.asko-guided-recipes-content{
    
    .browse-recipes-btn{
        margin-top: 20px;
    }
    
    p{
        padding: 20px 0;
        width: 80%
    }
    .btn{
        @include btn;
    }
}
