.asko-premium-induction{
    display: flex;
    align-items: center;
    position: relative;
    background-color: $thirdColor;
}


.asko-premium-induction-content{
    
    padding-left: 10%;
    p{
        padding: 20px 0;
        width: 80%
    }
}


.asko-premium-induction-image{
    img{
        position: relative;
        object-fit: cover;
    }
    p{
        position: absolute;
        top: 40%;
        right: 25%;
        width: 18%;
        text-align: center;
        color: $secondaryColor;
        font-size: 20px;
    }
}
