
    .asko-temperature-precise-cooking{
        position: relative;
    }


.asko-temperature-precise-cooking-image{
    img{ 
        max-width: 100%;
        height: auto;
        position: relative;
    }
    p{
        position: absolute;
        color: $secondaryColor;
        // font-size: 20px;
        font-size: clamp(15px, 20px, 30px);
        top: 50%;
        left: 60%;
        // width: 100%;
        text-align: center;
    }
}

.asko-temperature-precise-cooking-about{
    background-color: $thirdColor;
}

.asko-temperature-precise-cooking-about-content{
    display: flex;
    h2{
        flex: 1;
    }
    p{
        flex: 4;
        margin-right: 15%;
    }
}